# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- List some open-source tools used in Data Science
- Show the usage of code blocks and executing code in Python within the Jupyter Notebook instance

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Julia
5. C++
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. PyTorch
7. Tensorflow
8. Keras

|Data Science Tools|
|------------------|
|Apache Spark|
|Git|
|TensorFlow.js|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
M. Görkem Ulutürk